/* Global CSS reset for html and body */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prevents any horizontal scroll if background extends */
}

.background-animate {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #FF5733, #C70039, #900C3F, #581845);
  background-size: 400%, 400%;
  z-index: -1;
}

.content-container {
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.motion-container {
  width: 70%;
  padding-top: '2rem';
  padding-bottom: '2rem';
  overflow: 'hidden';
}

.upload-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
  color: #FFFFFF;
}

.hidden-input {
  display: none;
}

.hover-effect {
  display: inline-block;
  width: 100%;
}

.upload-file-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: none;
  width: 65%;
  border: 1.5px solid #FFFFFF;
  border-radius: 15px;
}

.upload-all-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: none;
  width: 40%;
  margin-top: 20px;
  border: 1.5px solid #FFFFFF;
  border-radius: 15px;
}