html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prevents any horizontal scroll if background extends */
}

.background-animate {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #FF5733, #C70039, #900C3F, #581845);
  background-size: 400%, 400%;
  z-index: -1;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.input-bar {
  font-family: 'Poppins', sans-serif;
  background-color: transparent !important;
  border: 1.5px solid #FFFFFF !important;
  border-radius: 15px !important;
}

.login-btn {
  font-family: 'Poppins', sans-serif;
  background-color: transparent !important;
  border: 1.5px solid #FFFFFF !important;
  border-radius: 15px !important;
}

.motion-container {
  width: 70%;
  padding-top: '2rem';
  padding-bottom: '2rem';
  overflow: 'hidden';
  text-align: center;
}

.login-link {
  font-size: x-large;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  margin-top: 50px;
}